[Unit]
Description=Restart PQC Digital Signatures website visualization
StartLimitBurst=0

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 30
ExecStart=/bin/systemctl restart pqc-sig-charts.service
