[Unit]
Description=Restart PQC Digital Signatures website visualization

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart pqc-sig-charts.service
