[Unit]
Description=Debounce restarts for PQC Digital Signatures website
# Avoid start-limit when using rsync to update webapp directory
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart pqc-sig-charts-restart.timer